.GitHubSubmission {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 3fr;

  .check {
    color: #00FF00;
  }

  .times {
    color: #FF0000;
  }

  a {
    padding: 0 1rem;
  }

  svg {
    padding: 0 0.4rem;
  }
}
