.student {
  list-style: none;

  &:hover {
    transform: scale(1.01);
  }

  button {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 3px;
    padding: 0;
    border: none;

    &:focus {
      outline: none;
    }

    h2 {
      width: 17em;
      height: 2rem;
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 0;
      border: 2px solid black;
    }

    span {
      width: 3em;
      height: 3em;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

  .pending {
    border: 2px solid rgb(204, 117, 4);
  }

  .missing {
    border: 2px solid rgb(245, 39, 39);
  }
}
